<!DOCTYPE html>
<html>
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<title>Exception</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<body>
	<div class="d-flex align-items-center justify-content-center vh-100">
		<div class="text-center">
			<h1 class="display-1 fw-bold">500</h1>
			<p class="fs-3">
				<span class="text-danger">Opps!</span>Something went wrong
			</p>
			<p class="lead">Please return to the home page.</p>
			<a href="/atm.app/homeLoadcash" class="btn btn-primary">Go Home</a>
		</div>
	</div>
</body>
</html>